<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>找不到該學生</title>
    </head>
    <body>
        <p>找不到所查詢的學生</p>
        <a href="/students">回到首頁</a>
    </body>
</html>
