<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>學生新增失敗</title>
    </head>
    <body>
        <p>無法新增學生</p>
    </body>
</html>
